<%- include layout/header.ejs%>
    <h1><%= title %></h1>
    <center>
        <form action="/modificarUsuario" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= usuario.id%>">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="<%= usuario.nombre %>" placeholder="Nombre">
                </div>
                <br>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos" value="<%= usuario.apellidos %>" placeholder="Apellidos">
                </div>
                <br>
                <div class="form-group">
                    <label for="foto">Foto</label>
                    <input type="file" class="form-control-file" id="foto" name="foto">
                </div>
                <br>
                <div class="form-group">
                    <label for="sexo">Genero</label>
                    <input type="text" class="form-control" id="sexo" name="sexo" value="<%= usuario.sexo %>" placeholder="Genero">
                </div>
                <br>
                <div class="form-group ">
                    <button type="submit" class="btn  btn-dark">Modificar usuario</button>
                </div>
            </div>
          
        </form>
    </center>
<%- include layout/footer.ejs%>